{% extends 'django_five/main.html' %}
{% load static %}


{% block header %}
  <header class="masthead" style="background-image: url('{% static 'django_five/images/home-bg.jpg' %}');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Login</h1>

                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}

{% block content %}
     <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <form method="post">
                        <main class="form-signin">
                            <h1 class="h3">Login</h1>
                            {% csrf_token %}
                            <div class="form-floating">
                                {{ form.as_p }}
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            <p><button class="btn btn-outline-success" type="submit">Login</button></p>

                            </div>
                        </main>
                    </form>
                </div>
            </div>
     </div>

{% endblock %}