{% extends 'django_five/main.html' %}
{% load static %}

{% block header %}
  <header class="masthead" style="background-image: url('{% static 'django_five/images/contact-bg.jpg' %}');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Registration</h1>

                        </div>
                    </div>
                </div>
            </div>
        </header>

{% endblock %}

 {% block content %}
      <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>

                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->

                             <form id="contactForm" data-sb-form-api-token="API_TOKEN" class="container" method="post">

                                    <div class="row input-container">
                                        {% csrf_token %}
                                                 {% for i in messages %}
                                                <div id="hideafter" class="thanking">
                                                    {{ i }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                            {% if form.name.errors %}
                                                    <div>
                                                        <strong>{{ form.name.errors }}</strong>
                                                    </div>
                                            {% endif %}
                                            <div class="form-floating">
                                                {{ form.name }}
                                                <label for="name">Name</label>
                                            </div>

                                        <div class="col-md-6 col-sm-12">
                                             {% if form.email.errors %}
                                                    <div>
                                                        <strong>{{ form.email.errors }}</strong>
                                                    </div>
                                             {% endif %}
                                           <div class="form-floating">
                                                {{ form.email }}
                                               <label for="name">E-Mail</label>
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            {% if form.message.errors %}
                                                    <div>
                                                        <strong>{{ form.message.errors }}</strong>
                                                    </div>
                                            {% endif %}
                                            <div class="form-floating">
                                                {{ form.message }}
                                                <label for="name">Message</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                             <p><button class="btn btn-outline-success" type="submit">Send</button></p>
                                        </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </main>
 {% endblock %}