{% extends 'django_five/main.html' %}

{% load static %}
{% block header %}
  <header class="masthead" style="background-image: url('{% static 'django_five/images/home-bg.jpg' %}');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Home</h1>

                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}

 {% block content %}
    <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post previews -->
            {% for contact in page_obj %}
                <div class="post-preview">
                    <a href="{% url 'article' slug=contact.slug %}"><h2 class="post-title">{{ contact.title }}</h2></a>
                    <p class="post-title">{{ contact.content }}</p>
                    <p class="post-meta">
                        Posted by <a href="#!">{{ contact.user.username }}</a>
                        Created: {{ contact.time_created }}
                        Updated: {{ contact.time_updated }}<br>
                        {% if user.is_authenticated %}
                            <a class="post-meta" href="{% url 'edit' slug=contact.slug %}">Edit</a>
                            <a class="post-meta" href="{% url 'delete_post' slug=contact.slug %}">Delete</a>

                        {% endif %}
                    </p>
                </div>

            {% endfor %}

        </div>
    </div>
</div>

<!-- Pagination links -->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mb-4">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

 {% endblock %}